<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Some of my contacts will be here.
</p>
<div class='mycard'>
	<ul>
		<li>GitHub</li>
		<li>Google+</li>
		<li>Twitter</li>
		<li>Facebook</li>
		<li>DeviantArt</li>
	</ul>
</div>