// The css that stylizes the card in the contacts page.
// Based on http://jsfiddle.net/nicooprat/GDdtS/
// Modified by: Jose Padilla to fit the website.
//
// There are still a few issues with the opera browser.
// For some reason, the animation only works in certain
// versions of chrome.

//This is the size of the card.
.flip {
  -webkit-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
  width: 600px;
  height: 600px;
  position: relative;
  margin: 10px auto;
}

//Adds the flip effect on the card.
.flip .card.flipped {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}

//Preserves the contents of the card.
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
}

//Determines whether the face of the card can be shown.
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  border: 1px solid rgba(90,90,90, 0.7);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  z-index: 2;
  font-size: 3em;
  text-align: center;
  ul {
    float: right;
    list-style: none;
    li {      
      float: left;
      margin-left: 10px;
    }
  }
}

//Front side of the card.
.flip .card .front {
  position: absolute;
  text-align: left;
  z-index: 1;
  //background-image: url(cardTexture.png);
  background-color:#f4f4f4;
  color: #4B4F53;
  text-shadow: 0px 1px 1px rgba(255,255,255, 0.5);
  cursor: pointer;
  #info {
    position: relative;
    font-size: 14px;
    top: 110px;
    height: 280px;
    text-align: center;
    float: left;
  }
  small {
    position: fixed;
    text-align: center;
    padding: 6px;
    font-weight: bold;
    bottom: -1px;
    font-size: 17px;
    background-color: #624bb5;
    width: 5px;
    right: -1px;
    color: white;
    text-shadow: 0px 1px 1px rgba(0,0,0, 0.1);
    border-top-left-radius: 6px;
  }
  .gravatar {
    position: relative;
    border-radius: 100px;
    border: 5px solid rgba(98,79,190,0.9);
    float: left;
    left:200px;
    top:100px;
    margin: 5px;
  }
  #backInfo {
    position:absolute;
    height:600px;
    width:600px;
    z-index: -10;
    top: 0px;
    overflow:overlay;
    overflow:hidden;
    color: rgba(225,225,225,0.1);
    text-shadow:0 0;
  }
}

//Back side of the card.
.flip .card .back {
  font-size: 23px;
  font-weight: bold;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  //background-image: url(bgFoot.png);
  background:#292D31;
  color: #98989c;
  text-shadow: 0px 1px 1px rgba(0,0,0, 0.5);
  cursor: pointer;

  #reachMetext {
    position: relative;
    top: 20px;
  }

  small {
    position: absolute;
    text-align: center;
    left:45%;
    bottom: 15px;
    font-size: 12px;
  }
}

//Logos should go here.
#github, #gplus, #twitter, #fbook, #dbart {
  position: relative;
  left: 13px;
  top: 200px;
  padding-bottom: 6px;
  border-bottom: 4px solid #88888c;
  &:hover{
    border-bottom: 4px solid #4a6ea9;
  }
}

#twitter {
    $twitter : #00aced;
    left: 0px;
    &:hover{
    border-bottom: 4px solid $twitter;
  }
}

#dbart {
    $dbart: #c8da2f;
    left: -10px;
    &:hover{
      border-bottom: 4px solid $dbart;
    }
}

#gplus {
  $gplus : #ff5428;
  left: -20px;
  &:hover{
    border-bottom: 4px solid $gplus;
  }
}

#github {
    $github : #ff0000;
    left: -30px;
    &:hover{
    border-bottom: 4px solid $github;
  }
}
