// The website's header (Navigation bar actually).
// Note: This is a bad way of using scss. It will be updated
// at a later time to take advantage of SASS features.

header {
  display: block;
  z-index: 100;
  //background-image: url(bgFoot.png);
  background-color: #edeef0;
  background-color:rgba(237,238,240,0.8);
	position: fixed;
  width: 100%;
  //top: 40px;
  margin: auto;
  min-width:900px;
  padding: 10px;
	//width: 1100px;
  height: 26px;
  //border-bottom: solid 4px #808080;// #87a635; Goes with green.
  //border-radius: 4px;
	ul {
		float: right;
		list-style: none;
		li {  		
			float: left;
      		margin-left: 10px;
    	}
	}
  //box-shadow:0px 3px 3px rgba(0,0,0,0.15);

  #logo {
    position: relative;
    top: -53px;
    width: 130px;
    height: 19px;
    right: 20px;
    //text-shadow: 0 1px 3px rgba(0,0,0,0.75);
    margin: 30px;
    float: left;
    font-size: 1.8em;
    color: #808080;
    text-transform: uppercase;
    letter-spacing: -1px;
    //border-bottom: solid 4px #808080;
    font-weight: bold;
    &:hover {
      color: #404040;
      border-bottom: solid 4px #2585ff;
      text-decoration: none;
    }
  }
 a{
    color: #808080;
      &:visited {
      color: #808080;
      }
      &:hover {
      color: #404040;
      background-color: #ff;
    }
  }
}

.nav-btn {
  position: relative;
  display: block;
  top: -19px;
  padding: 20px;
  width: auto;
  height: 5px;
  margin: 10px;
  text-align: center;
  //text-shadow: 0 1px 1px rgba(0,0,0,0.75);
  color: #808080;
  //border-bottom: solid 4px #808080;
  font-weight: bold;
  &:hover {
    color: #404040;
    border-bottom: solid 4px #8D13BA;
    text-decoration: none;
  }
}

#nav-hom {
  left: 90px;
  &:hover {
    border-bottom: solid 4px #2585ff;
    text-decoration: none;
  }
}

#nav-tut {
  left: 60px;
  &:hover {
    border-bottom: solid 4px #5BBA13;
    text-decoration: none;
  }
}

#nav-dwn {
  left: 30px;
  &:hover {
    border-bottom: solid 4px #BA4D13;
    text-decoration: none;
  }
}
