// Slideshow
#slides {
  position: relative;
  margin: auto;
  z-index:100;
  box-shadow: 2px 0px 8px rgba(0,0,0,0.5), -2px 0px 8px rgba(0,0,0,0.5);
  height: 422px;
  width: 902px;
  border-radius: 0px;
  border: solid 1px rgba(0,0,0,0.7);
}

// Slides container
// Important:
// Set the width of your slides container
// Set to display none, prevents content flash
.slides_container {
  width:900px;
  height:420px;
  overflow:hidden;
  position:relative;
  display:none;
  border: solid 1px rgba(250,250,250,0.5);
}

// Each slide
// Important:
// Set the width of your slides
// If height not specified height will be set by the slide content
// Set to display block
.slides_container a {
  width:900px;
  height:420px;
  display:block;
}

// Next/prev buttons
#slides .next, #slides .prev {
  position:absolute;
  top:177px;
  left:3px;
  width:70px;
  height:70px;
  display:block;
  z-index:10;
}

#slides .next {
  left:830px;
}

// Pagination
.pagination {
  position: absolute;
  top: -50px;
  margin:26px 0px;
  width:100px;
}

.pagination li {
  float:left;
  margin:0 1px;
  list-style:none;
}

.pagination li a {
  display:block;
  width:12px;
  height:0;
  padding-top:12px;
  background-image:url(./img/pagination.png);
  background-position:0 0;
  float:left;
  overflow:hidden;
}

.pagination li.current a {
  background-position:0 -12px;
}
