<footer>
	<nav>
		<!--Add awesome links here! -->
	</nav>
	<small>
		<p>
		 Website created using Ruby on Rails. Slidheshow created with SlidesJS. Some effects created
		 by using fancybox, css and javascript.
		</p>
		<p>
			<small>
				2012 &copy Jose Padilla
			</small>
		</p>
	</small>
</footer>
