<footer>
	<small>
		<p>
		 Website created using Ruby on Rails. Hosting provided by Heroku.  Slidheshow created with SlidesJS. Some effects created
		 by using fancybox, css and javascript.
		</p>
		 2012 &copy Jose Padilla
	</small>
	<nav>
		<ul class="footer-links">
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>
